{% load static %}

<header class="navbar pcoded-header navbar-expand-lg navbar-light">
  <a class="mobile-menu" id="mobile-header" href="javascript:">
    <i class="feather icon-more-horizontal"></i>
  </a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      {% if "/players/" in request.path %}
        <li class="nav-item">
          <form class="form-inline" method="GET">
            <div class="input-group">
              <input type="text" class="form-control" name="last_name" placeholder="Last Name" value="{{ request.GET.last_name }}">
              <input type="text" class="form-control" name="first_name" placeholder="First Name" value="{{ request.GET.first_name }}">
              <input type="text" class="form-control" name="country" placeholder="Country" value="{{ request.GET.country }}">
              <input type="text" class="form-control" name="age" placeholder="Age" value="{{ request.GET.age }}">
              <input type="text" class="form-control" name="position" placeholder="Position" value="{{ request.GET.position }}">
              <div class="input-group-append">
                <button class="btn btn-primary" type="submit">Search</button>
              </div>
            </div>
          </form>
        </li>
      {% endif %}
      <li class="nav-item">
        <label>
          <i class="icon feather icon-sun" id="theme-indicator"></i>
          <input type="checkbox" id="theme-switch" class="d-none">
        </label>
      </li>
      <li class="nav-item">
        <div class="dropdown drp-user">
          <a href="javascript:" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon feather icon-settings"></i>
          </a>
          {% if request.user.is_authenticated %}
            <div class="dropdown-menu dropdown-menu-right profile-notification">
              <div class="pro-head">
                <img src="{% static 'assets/images/user/avatar-2.jpg' %}" class="img-radius" alt="User-Profile-Image">
                <span>{{ request.user.username }}</span>
                <a href="{% url 'logout' %}" class="dud-logout w-25 h-10" title="Logout">
                  <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Log out</button>
                  </form>
                  <i class="feather icon-log-out" style="float: right"></i>
                </a>
              </div>
              <ul class="pro-body">
                <li><a href="{% url 'catalog:user-profile' %}" class="dropdown-item"><i class="feather icon-user"></i> Profile</a></li>
              </ul>
            </div>
          {% else %}
            <div class="dropdown-menu dropdown-menu-right profile-notification">
              <div class="pro-head">
                <img src="{% static 'assets/images/user/avatar-2.jpg' %}" class="img-radius" alt="User-Profile-Image">
                <span>Guest</span>
                <a href="{% url 'login' %}" class="dud-logout w-25 h-10" title="Login">
                  <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Log in</button>
                  </form>
                  <i class="feather icon-log-in" style="float: right"></i>
                </a>
              </div>
            </div>
          {% endif %}
        </div>
      </li>
    </ul>
  </div>
</header>
