{% extends "layouts/base.html" %}

{% load static %}

{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block content %}

  <div class="card-header">
    <h5>Our agent-users</h5>
  </div>
  <div class="card-body px-0 py-1">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Players</th>
                    <th scope="col">Full Name</th>
                    <th scope="col">Details</th>
                </tr>
            </thead>
            <tbody>
                {% for agent in agent_list %}
                    <tr class="unread">
                        <td>
                            <img class="rounded-circle" style="width:40px;"
                                 src="{% static 'assets/images/user/avatar-2.jpg' %}"
                                 alt="activity-user">
                        </td>
                        <td>
                            <h6 class="mb-0">
                                {% for player in agent.players.all|slice:":5" %}
                                    {{ player.last_name }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                                {% if agent.players.count > 5 %}
                                    ...
                                {% endif %}
                            </h6>
                        </td>
                        <td>
                            <h6 class="text-muted">
                                <i class="fas fa-circle text-c-green f-10 m-r-15"></i>
                                {{ agent.first_name }} {{ agent.last_name }}
                            </h6>
                        </td>
                        <td>
                            <a href="{% url 'catalog:agent-detail' pk=agent.id %}"
                               class="label theme-bg text-white f-3">Detail</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
  

  </div>
  {% block pagination %}
    {% include "includes/pagination.html" %}
  {% endblock %}
{% endblock content %}
