{% extends 'base.html' %}
{% load static %}

{% block breadcrumbs %}{% endblock breadcrumbs %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h2>Update Player: {{ player.first_name }} {{ player.last_name }}</h2>
                </div>
                <div class="card-body">
                    <form method="post" class="form-horizontal">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.as_p }}
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Save changes</button>
                            <a href="{% url 'catalog:player-list' %}" class="btn btn-secondary">Back to player list</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
