{% extends "base.html" %}

{% block content %}
  <h1>
    Date: {{ transfer.transfer_date }}
  </h1><br>
  <p><strong>Clubs</strong>: {{ transfer.club.club_name }}</p><br>
  <h3>Agents

  </h3>
  <hr>
  <ul>
    {% for agent in transfer.agents.all %}
      <li><strong>Email</strong>: {{ agent.email }}</li>
      <li><strong>Full name</strong>: {{ agent.first_name }} {{ agent.last_name }}</li>
      <li><strong>Players</strong>: {{ agent.players }}</li><br>
    {% endfor %}
  </ul>

{% endblock %}
