{% extends "base.html" %}

{% load static %}

{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block content %}
  <div class="container mt-0">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h1 class="mb-0">Transfer List</h1>
      <a href="#" class="btn btn-primary">Create New Transfer</a>
    </div>

    {% if transfer_list %}
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead class="thead-dark">
          <tr>
            <th>ID</th>
            <th>Transfer Date</th>
            <th>Transaction Amount</th>
            <th>Agents</th>
            <th>Details</th>
          </tr>
          </thead>
          <tbody>
          {% for transfer in transfer_list %}
            <tr>
              <td class="align-middle">{{ transfer.id }}</td>
              <td class="align-middle">{{ transfer.transfer_date }}</td>
              <td class="align-middle">{{ transfer.transaction_amount }}</td>
              <td class="align-middle">
                {% for agent in transfer.agents.all %}
                  {{ agent.username }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
              </td>
              <td class="align-middle">
                <a href="{% url 'catalog:transfer-detail' pk=transfer.id %}" class="btn btn-info btn-sm">Detail</a>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    {% else %}
      <div class="alert alert-warning" role="alert">
        There are no transfers in the data.
      </div>
    {% endif %}

    {% block pagination %}
      {% include "includes/pagination.html" %}
    {% endblock %}
  </div>
{% endblock %}
