{% extends "base.html" %}

{% load static %}

{% load humanize %}

{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block content %}
  <div class="container mt-4">
    <div class="card mb-4">
      <div class="card-header bg-secondary text-white">
        <h2 class="mb-0" style="color: white">
          Transfer Date: {{ transfer.transfer_date }}
        </h2>
      </div>
      <div class="card-body">
        <p><strong>Clubs:</strong> {{ transfer.club.club_name }}</p>
        <p><strong>Transaction Amount:</strong> {{ transfer.transaction_amount|floatformat:0|intcomma }}</p>
        <h4 class="mt-4">Agent Involved</h4>
        <hr>
        {% if transfer.agent %}
          <ul class="list-group">
              <li class="list-group-item bg-secondary text-white">
                  <div>
                    <h5 class="mb-1" style="color: white">{{ transfer.agent.first_name }} {{ transfer.agent.last_name }}</h5>
                    <p class="mb-1"><strong>Email:</strong> {{ transfer.agent.email }}</p>
                    <p class="mb-1"><strong>Player:</strong> {{ transfer.player.first_name }}, {{ transfer.player.last_name }}</p>
                  </div>
              </li>
          </ul>
        {% else %}
          <p class="text-muted">No agents involved in this transfer.</p>
        {% endif %}
      </div>
      <div class="card-footer text-muted">
        <a href="{% url 'catalog:transfer-list' %}" class="btn btn-secondary">Back to List</a>
      </div>
    </div>
  </div>
{% endblock %}
